* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

$back-color: crimson;

.red-background {
  background-color: $back-color;
  color: white;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

img {
  width: 200px;
}
