@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap');

$primary-color: #ff0000;
$secondary-color: #760000;
$tertiary-color: #ffc0ce;

$text-color: #ffffff;

$primary-font: 'Merienda', cursive;
$secondary-font: 'Roboto Mono', cursive;

$box-shadow: rgba(0, 0, 0, 0.8) -5px 5px 8px;

.base {
  display: flex;
  place-content: center;
  background-color: $primary-color;
  color: $text-color;
}

.important {
  background-color: $secondary-color;
  color: $text-color;
}
.warning {
  background-color: $tertiary-color;
  color: $text-color;
}

.primaryFont {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 2rem;
}

.secondaryFont {
  font-family: $secondary-font;
  font-weight: 300;
  font-size: 1.5rem;
}

.box {
  box-shadow: $box-shadow;
}
