@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@1,200;1,300;1,400;1,500&display=swap');

$primary-color: #0000ff;
$secondary-color: #000068;
$tertiary-color: #00ffff;

$text-color: #ffffff;
$text-color2: #000000;

$primary-font: 'Big Shoulders Stencil Display', cursive;
$secondary-font: 'Advent Pro';

$box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 8px;
