@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap');

$primary-color: #ff0000;
$secondary-color: #760000;
$tertiary-color: #ffc0ce;

$text-color: #ffffff;
$text-color2: #000000;

$primary-font: 'Merienda', cursive;
$secondary-font: 'Roboto Mono', cursive;

$box-shadow: rgba(0, 0, 0, 0.8) -5px 5px 8px;
