$background-color: #ffffff;
$text-color: #ffffff;

$color-base1: #69307a;
$color-base2: #1c81fe;
$color-base3: #ee4612;

$colors: $color-base1, $color-base2, $color-base3;

@for $k from 1 through length($colors) {
  $color: nth($colors, $k);

  @for $i from 1 through 4 {
    .color-base#{$k} {
      background-color: $color;
    }
    .darken-#{$i}-color-base#{$k} {
      background-color: darken($color, $i * 10%);
    }

    .lighten-#{$i}-color-base#{$k} {
      background-color: lighten($color, $i * 10%);
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  .container {
    margin: 2rem auto;
  }
  h1 {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 600;
  }
}

.container {
  display: flex;
  place-content: center;
  width: 90vw;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    margin: 0 0.5rem;
  }
  span {
    color: $text-color;
    font-size: 1rem;
  }
}
