$primary-color: #333333;
$background-color: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: 'Open Sans', sans-serif;
  // overflow: hidden;
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    margin: 2rem;
  }
  h1 {
    margin: 2rem 0;
    font-size: 2rem;
    color: $primary-color;
    text-align: center;
  }
}

@media (width < 956px) {
  body {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (width < 655px) {
  body {
    .container {
      grid-template-columns: 1fr;
    }
  }
}
